
.card {
  // padding: 1rem;
  width: 300px;
  padding-left: 30px;
  border:none;
  border-radius: 50px;
  // width: 30rem;
  .card-img-top.local{
    border-radius: 50px;
    width: 300px;
    height:200px;
    text-align: center;
    margin-left: 80px;
  }
  .ing-inst{
    display: flex;
    flex-direction: column;
    border: solid #E5F1FF	;
    border-radius: 50px;
    padding: 30px;
    margin-bottom: 20px;
  }
  .card-text{
    color:#506987;
    font-family: 'Oxygen', sans-serif;
  }
  .card-title{
    color:#26466D
  }
  .card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2rem;
    margin-left: 2rem;
    .heart-container {
      color: tomato;
      font-size: 2rem;
    }
  }
}


 

