$card-min-width: 30rem;
$card-max-width: 30rem;

.card {
  // padding: 1rem;
  min-width: $card-min-width;
  max-width: $card-max-width;
  // width: 30rem;
  .ing-inst{
    display: flex;
    flex-direction: column;
    border: solid #E5F1FF	;
    border-radius: 50px;
    padding: 30px;
    margin-bottom: 20px;
  }
  .card-title{
    color:#26466D
  }
  .card-img-top.search{
    border-radius: 50px;
    width: 300px;
    height:200px;
    text-align: center;
    margin-left: 80px;
  }
  .card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 2rem;
    margin-left: 2rem;
    .heart-container {
      color: tomato;
      font-size: 2rem;
    }
  }
}



 

