$card-min-width: 15rem;
$card-max-width: 15rem;

.card.small {
  min-width: $card-min-width;
  max-width: $card-max-width;
  .card-bottom-small {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    .heart-container {
      color: tomato;
      font-size: 2rem;
    }
    .minus-circle-container {
      color: tomato;
      font-size: 2rem;
    }
    .botton-container {
      size: 1rem;
    }

    .card-img {
      border-radius:50px;
      width:10rem;
      height:10rem;
    }
  }
}


 

